.short-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.short-menu h1{
    color: #262626;
    font-weight: 500;

}

.short-menu-para{
    max-width: 60%;
    color: #808080;
}

.short-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 10px 0px;
    overflow-x: scroll;
}

.short-menu-list::-webkit-scrollbar{
    display: none;
}

.short-menu-list-items img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.short-menu-list-items p{
    margin-top: 10px;
    color: #49557e;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

hr{
    margin: 5px 0px;
    border: none;
    height: 2px;
    background-color: #808080;
}

.short-menu-list-items .on{
    border: 4px solid purple;
    padding: 2px;
}

.short-menu-list-items .paraon{
    color: rgba(128, 0, 128, 0.469);
}

@media (max-width: 1050px){
    .short-menu-para{
        max-width: 100%;
        font-size: 14px;
    }
}